* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body {
    display: flex;
    background: #f5f6fa;
}
.sidebar {
    width: 240px;
    height: 100vh;
    background: #2e1f1f;
    color: white;
    padding: 25px 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
}
.sidebar .logo {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
}

.sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #cbd5e1;
    padding: 12px 14px;
    display: block;
    border-radius: 8px;
    transition: .25s;
    font-size: 15px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background: #32324aa0;
    color: white;
    padding-left: 20px;
}
.main {
    margin-left: 240px;
    padding: 30px;
    width: calc(100% - 240px);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.header h1 {
    font-size: 28px;
    font-weight: 100;
}

.user-box {
    display: flex;
    align-items: center;
    gap: 10px;
    background: white;
    padding: 7px 14px;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.user-box img {
    width: 40px;
    border-radius: 50%;
}
.cards {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.07);
    transition: 0.25s;
}
.card h3 {
    font-size: 16px;
    color: #6b7280;
    font-weight: 500;
}
.card .number {
    font-size: 32px;
    font-weight: 800;
    margin-top: 10px;
    color: #afaa11;
}
.table-section {
    margin-top: 40px;
}

.table-section h2 {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 700;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 18px rgba(0,0,0,0.07);
}

thead {
    background: #1f2937;
    color: white;
}

thead th {
    padding: 15px;
    text-align: left;
    font-size: 15px;
}

tbody tr td {
    padding: 14px;
    font-size: 14px;
}

tbody tr:nth-child(even) {
    background: #f8fafc;
}